.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-list{
  border:1px solid gray; 
  background-color: limegreen;
  margin: 10px;
  width: 400px;
  text-align: justify;
  border-radius: 5px;
  float:  right;
  }
  .todo{
    border:1px solid gray; 
    background-color: lightgrey;
    margin: 10px 10px 10px 10px;
    width: 375px;
    text-align: justify;
    border-radius: 5px;
    float:  right;
    }
    .fr{
      float:right;
      text-shadow: magenta;
    }
    