div{
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top:50px;
    border: 1px solid grey;
    text-align: center;
    padding-top:100px;
    background-color: whitesmoke;
}
body{
    background-color: lightgrey;
}